
<%- include("header") -%>

    <div class="box" id="heading">
    <h1 ><%= listTitle %> !</h1>   <!--variable-data-->
    </div>

    <div class="box">
    <!-- <ul> -->
        <!-- <li>Do EJS</li>
        <li>Do Leetcode</li>
        <li>Revise</li> -->
        
        <% newListItems.forEach( function(item,index){ %>
            <div class="item">
                <input type="checkbox">
                <p><%=item.name%></p>
            </div>
        <%})%>

        <form  class = "item" action="/" method="post">
            <input type="text" name="new_todo" placeholder="New TODO Item" autocomplete="off">
            <button type="submit" name="button" value="<%= listTitle %>">+</button>
        </form>
         
    </div>
            
    <!-- </ul> -->

    <%- include("footer") -%>