<%- include("partials/header"); -%>
<h1>Home</h1>
<p><%= homeText %></p>
<%  console.log(posts) ; %> 
<% posts.forEach(function(item){ %>
    <h2><%= item.title %></h2>
    <p><%= item.truncatedPost %> <a href="/posts/<%=item.title.toLowerCase();%>"> Read more</a></p>
<% });%>
<%- include("partials/footer"); -%>